.form-wrapper {
  /* font-size: 1rem;
  background-color: black;
  height: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.2 0;
  margin: 0; */
  font-size: 1rem;
  background-color: black;
  height: 2rem;
  color: white;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0.5rem;
}

/* Form Wrapper Desktop */

@media only screen and (min-width: 992px) {
  .form-wrapper {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 2400px !important;
    font-size: 1.2rem;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  margin: 0;
  padding: 0;
}
form {
  height: 1.6rem;
  display: flex;
  justify-content: center;
}

input {
  margin: 0 0.5rem;
  max-width: 4rem;
  height: 1.6rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
}

.button {
  margin: 0;
  align-self: flex-end;
  max-width: 7rem;
  font-size: 0.7rem;
  font-weight: 400;
  background-color: #efefef;
  color: black;
}

/* Form Tablet */
@media only screen and (min-width: 768px) {
  .form-wrapper {
    font-size: 1.3rem;
  }
  input {
    width: 4.2rem;
    margin: 0 0.5rem;
    text-align: center;
    font-size: 1.1rem;
  }
  .button {
    margin: 0;
    width: 9rem;
    font-size: 1rem;
    max-width: 12rem;
  }
}
